<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center;">
  <h1>
    This is the angular test project for Ludeau
  </h1>
</div>
<ul>
  <li>
    <label>Auth server URL</label> : <input type="text" [(ngModel)]="authUrl" />
  </li>
  <li><label>Api Key</label> : <input type="text" [(ngModel)]="apiKey" /></li>
  <li>
    <button (click)="requestToken()">Get Token</button>
  </li>
  <li>Authenticated : {{ authToken !== undefined }}</li>
</ul>
<video [srcObject]="deviceStream"></video>
