/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fffaf0;
  margin: 0;
}

video {
  margin-left: 50px;
}

@media screen and (max-width: 900px) {
  video {
    width: 100%;
    margin-left: 0;
  }
}

button {
  transition: all ease 300ms;
}

button:focus {
  outline: none;
}

button:hover {
  background: gray;
  color: white;
}

input:focus {
  outline: none;
}
